USE [master]
GO
/****** Object:  Database [Hund_Tier]    Script Date: 20/10/2017 6:24:25 p. m. ******/
CREATE DATABASE [Hund_Tier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hund_Tier', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Hund_Tier.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hund_Tier_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Hund_Tier_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hund_Tier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hund_Tier]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animal](
	[id_animal] [int] NOT NULL,
	[cod_tipo_animal] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cod_raza] [int] NOT NULL,
	[cod_sexo] [int] NOT NULL,
	[cod_tamano] [int] NOT NULL,
	[cod_edad] [int] NOT NULL,
	[cod_pelo] [int] NOT NULL,
	[color1] [int] NOT NULL,
	[color2] [int] NULL,
	[cod_castrado] [int] NULL,
	[con_crias] [varchar](10) NULL,
	[cod_color_collar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_animal] ASC,
	[cod_tipo_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrios](
	[id_barrio] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Barrios] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Castracion]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Castracion](
	[id_castrado] [int] NOT NULL,
	[nombre] [nchar](10) NULL,
 CONSTRAINT [PK_Castracion] PRIMARY KEY CLUSTERED 
(
	[id_castrado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Colores]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colores](
	[id_color] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colores] PRIMARY KEY CLUSTERED 
(
	[id_color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Edad_Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Edad_Animal](
	[codigo_edad] [int] NOT NULL,
	[nombre_edad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Edad_Animal] PRIMARY KEY CLUSTERED 
(
	[codigo_edad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estados_Publicacion]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estados_Publicacion](
	[cod_estado] [int] NOT NULL,
	[nombre_estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estados_Publicacion] PRIMARY KEY CLUSTERED 
(
	[cod_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gatos]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gatos](
	[id_gato] [int] NOT NULL,
	[nombre_gato] [varchar](50) NOT NULL,
	[raza_gato] [int] NOT NULL,
	[sexo_gato] [int] NOT NULL,
	[tamano_gato] [int] NOT NULL,
	[edad_gato] [int] NOT NULL,
	[pelo_gato] [int] NOT NULL,
	[color1] [int] NOT NULL,
	[color2] [int] NULL,
	[condicion_castrado] [int] NOT NULL,
	[condicion_crias] [int] NULL,
	[color_collar] [int] NULL,
 CONSTRAINT [PK_Gatos] PRIMARY KEY CLUSTERED 
(
	[id_gato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pelo_Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pelo_Animal](
	[codigo_pelo] [int] NOT NULL,
	[nombre_pelo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_pelo_animal] PRIMARY KEY CLUSTERED 
(
	[codigo_pelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Perfiles_Usuarios]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Perfiles_Usuarios](
	[id_perfil] [int] NOT NULL,
	[nombre_perfil] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfiles_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Perros]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Perros](
	[id_perro] [int] NOT NULL,
	[nombre_perro] [varchar](50) NOT NULL,
	[raza_perro] [int] NOT NULL,
	[sexo_perro] [int] NOT NULL,
	[tamano_perro] [int] NOT NULL,
	[edad_perro] [int] NOT NULL,
	[pelo_perro] [int] NOT NULL,
	[color1] [int] NOT NULL,
	[color2] [int] NULL,
	[condicion_castrado] [int] NULL,
	[condicion_crias] [int] NULL,
	[color_collar] [int] NULL,
 CONSTRAINT [PK_Perros] PRIMARY KEY CLUSTERED 
(
	[id_perro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publicacion](
	[cod_publicacion] [int] NOT NULL,
	[tipo_animal] [int] NOT NULL,
	[id_animal] [int] NOT NULL,
	[tipo_publicacion] [int] NOT NULL,
	[fecha_publicacion] [datetime] NOT NULL,
	[fecha_cerrada_publicacion] [datetime] NULL,
	[barrio] [int] NOT NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[usuario_responsable] [int] NOT NULL,
	[telefono2] [varchar](50) NULL,
	[estado_publicacion] [int] NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_publicacion] ASC,
	[id_animal] ASC,
	[tipo_animal] ASC,
	[tipo_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Razas]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Razas](
	[cod_raza] [int] NOT NULL,
	[cod_tipo_animal] [int] NOT NULL,
	[nombre_raza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Razas] PRIMARY KEY CLUSTERED 
(
	[cod_raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Razas_Gatos]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Razas_Gatos](
	[id_raza] [int] NOT NULL,
	[nombre_raza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Razas_Gatos] PRIMARY KEY CLUSTERED 
(
	[id_raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Razas_Perros]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Razas_Perros](
	[id_raza] [int] NOT NULL,
	[nombre_raza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Razas_Perros] PRIMARY KEY CLUSTERED 
(
	[id_raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sexo_Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sexo_Animal](
	[codigo_sexo] [int] NOT NULL,
	[nombre_sexo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_sexo_animal] PRIMARY KEY CLUSTERED 
(
	[codigo_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tamano_Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tamano_Animal](
	[codigo_tamano] [int] NOT NULL,
	[nombre_tamano] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tamano_animal] PRIMARY KEY CLUSTERED 
(
	[codigo_tamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Animal]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Animal](
	[codigo_animal] [int] NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_animal] PRIMARY KEY CLUSTERED 
(
	[codigo_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Publicacion]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Publicacion](
	[id_tipo_publicacion] [int] NOT NULL,
	[nombre_publicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_publicacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/10/2017 6:24:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[num_telefono] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[id_barrio] [int] NOT NULL,
	[calle] [varchar](50) NULL,
	[numero] [varchar](50) NULL,
	[piso] [int] NULL,
	[departamento] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[habilitado] [int] NOT NULL,
	[id_perfil] [int] NULL,
	[fecha_alta] [datetime] NULL,
	[Fecha_baja] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Animal] ([id_animal], [cod_tipo_animal], [nombre], [cod_raza], [cod_sexo], [cod_tamano], [cod_edad], [cod_pelo], [color1], [color2], [cod_castrado], [con_crias], [cod_color_collar]) VALUES (1, 1, N'Lucas', 3, 2, 2, 2, 2, 1, NULL, 2, NULL, NULL)
INSERT [dbo].[Animal] ([id_animal], [cod_tipo_animal], [nombre], [cod_raza], [cod_sexo], [cod_tamano], [cod_edad], [cod_pelo], [color1], [color2], [cod_castrado], [con_crias], [cod_color_collar]) VALUES (1, 2, N'Michi', 38, 1, 1, 1, 1, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Animal] ([id_animal], [cod_tipo_animal], [nombre], [cod_raza], [cod_sexo], [cod_tamano], [cod_edad], [cod_pelo], [color1], [color2], [cod_castrado], [con_crias], [cod_color_collar]) VALUES (2, 1, N'pichon', 3, 2, 2, 1, 1, 1, 3, 1, NULL, NULL)
INSERT [dbo].[Barrios] ([id_barrio], [nombre]) VALUES (1, N'1 DE MAYO')
INSERT [dbo].[Barrios] ([id_barrio], [nombre]) VALUES (2, N'2 DE SEPTIEMBRE')
INSERT [dbo].[Barrios] ([id_barrio], [nombre]) VALUES (3, N'20 DE JUNIO')
GO
INSERT [dbo].[Castracion] ([id_castrado], [nombre]) VALUES (1, N'Si        ')
INSERT [dbo].[Castracion] ([id_castrado], [nombre]) VALUES (2, N'No        ')
INSERT [dbo].[Castracion] ([id_castrado], [nombre]) VALUES (3, N'N/D       ')
INSERT [dbo].[Colores] ([id_color], [nombre]) VALUES (1, N'Negro')
INSERT [dbo].[Colores] ([id_color], [nombre]) VALUES (2, N'Blanco')
INSERT [dbo].[Colores] ([id_color], [nombre]) VALUES (3, N'Amarillo')
INSERT [dbo].[Edad_Animal] ([codigo_edad], [nombre_edad]) VALUES (1, N'Cachorro')
INSERT [dbo].[Edad_Animal] ([codigo_edad], [nombre_edad]) VALUES (2, N'Adulto')
INSERT [dbo].[Estados_Publicacion] ([cod_estado], [nombre_estado]) VALUES (1, N'Publicada')
INSERT [dbo].[Estados_Publicacion] ([cod_estado], [nombre_estado]) VALUES (2, N'Finalizada')
INSERT [dbo].[Estados_Publicacion] ([cod_estado], [nombre_estado]) VALUES (3, N'Cancelada')
INSERT [dbo].[Pelo_Animal] ([codigo_pelo], [nombre_pelo]) VALUES (1, N'Corto')
INSERT [dbo].[Pelo_Animal] ([codigo_pelo], [nombre_pelo]) VALUES (2, N'Largo')
INSERT [dbo].[Perfiles_Usuarios] ([id_perfil], [nombre_perfil]) VALUES (1, N'Administrador')
INSERT [dbo].[Perfiles_Usuarios] ([id_perfil], [nombre_perfil]) VALUES (2, N'Usuario')
INSERT [dbo].[Perros] ([id_perro], [nombre_perro], [raza_perro], [sexo_perro], [tamano_perro], [edad_perro], [pelo_perro], [color1], [color2], [condicion_castrado], [condicion_crias], [color_collar]) VALUES (1, N'anita', 3, 1, 2, 2, 2, 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[Perros] ([id_perro], [nombre_perro], [raza_perro], [sexo_perro], [tamano_perro], [edad_perro], [pelo_perro], [color1], [color2], [condicion_castrado], [condicion_crias], [color_collar]) VALUES (2, N'asd ', 2, 2, 1, 1, 2, 8, 14, NULL, NULL, NULL)
INSERT [dbo].[Perros] ([id_perro], [nombre_perro], [raza_perro], [sexo_perro], [tamano_perro], [edad_perro], [pelo_perro], [color1], [color2], [condicion_castrado], [condicion_crias], [color_collar]) VALUES (3, N'Turron', 1, 2, 2, 2, 1, 10, NULL, 1, NULL, NULL)
INSERT [dbo].[Publicacion] ([cod_publicacion], [tipo_animal], [id_animal], [tipo_publicacion], [fecha_publicacion], [fecha_cerrada_publicacion], [barrio], [descripcion], [usuario_responsable], [telefono2], [estado_publicacion], [ciudad]) VALUES (1, 1, 2, 1, CAST(0x0000A7FC00F22610 AS DateTime), NULL, 4, N'asdasda', 3, N'156546', 1, N'Cordoba')
INSERT [dbo].[Publicacion] ([cod_publicacion], [tipo_animal], [id_animal], [tipo_publicacion], [fecha_publicacion], [fecha_cerrada_publicacion], [barrio], [descripcion], [usuario_responsable], [telefono2], [estado_publicacion], [ciudad]) VALUES (2, 1, 8, 1, CAST(0x0000A7FC01227037 AS DateTime), NULL, 4, N'saidnaos', 1, N'0356215453098', 1, N'Cordoba')
INSERT [dbo].[Publicacion] ([cod_publicacion], [tipo_animal], [id_animal], [tipo_publicacion], [fecha_publicacion], [fecha_cerrada_publicacion], [barrio], [descripcion], [usuario_responsable], [telefono2], [estado_publicacion], [ciudad]) VALUES (3, 1, 9, 1, CAST(0x0000A7FC01310679 AS DateTime), NULL, 11, N'Sarita es una perra bajita, que fuma con mallita', 1, N'0356215453098', 1, N'Cordoba')
INSERT [dbo].[Razas] ([cod_raza], [cod_tipo_animal], [nombre_raza]) VALUES (1, 1, N'Labrador')
INSERT [dbo].[Razas] ([cod_raza], [cod_tipo_animal], [nombre_raza]) VALUES (2, 1, N'Pastor Aleman')
INSERT [dbo].[Razas] ([cod_raza], [cod_tipo_animal], [nombre_raza]) VALUES (3, 1, N'Golden Retriever')
INSERT [dbo].[Razas_Gatos] ([id_raza], [nombre_raza]) VALUES (0, N'Mestizo')
INSERT [dbo].[Razas_Gatos] ([id_raza], [nombre_raza]) VALUES (1, N'Siames')
INSERT [dbo].[Razas_Gatos] ([id_raza], [nombre_raza]) VALUES (2, N'Persa')
INSERT [dbo].[Razas_Perros] ([id_raza], [nombre_raza]) VALUES (0, N'Mestizo')
INSERT [dbo].[Razas_Perros] ([id_raza], [nombre_raza]) VALUES (1, N'Labrador ')
INSERT [dbo].[Razas_Perros] ([id_raza], [nombre_raza]) VALUES (2, N'Pastor Aleman')
INSERT [dbo].[Sexo_Animal] ([codigo_sexo], [nombre_sexo]) VALUES (1, N'Hembra')
INSERT [dbo].[Sexo_Animal] ([codigo_sexo], [nombre_sexo]) VALUES (2, N'Macho')
INSERT [dbo].[Tamano_Animal] ([codigo_tamano], [nombre_tamano]) VALUES (1, N'Chico')
INSERT [dbo].[Tamano_Animal] ([codigo_tamano], [nombre_tamano]) VALUES (2, N'Mediano')
INSERT [dbo].[Tamano_Animal] ([codigo_tamano], [nombre_tamano]) VALUES (3, N'Grande')
INSERT [dbo].[Tipo_Animal] ([codigo_animal], [nombre_tipo]) VALUES (1, N'Perro')
INSERT [dbo].[Tipo_Animal] ([codigo_animal], [nombre_tipo]) VALUES (2, N'Gato')
INSERT [dbo].[Tipo_Publicacion] ([id_tipo_publicacion], [nombre_publicacion]) VALUES (1, N'Adopcion')
INSERT [dbo].[Tipo_Publicacion] ([id_tipo_publicacion], [nombre_publicacion]) VALUES (2, N'Perdido')
INSERT [dbo].[Tipo_Publicacion] ([id_tipo_publicacion], [nombre_publicacion]) VALUES (3, N'Encontrado')
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [num_telefono], [email], [id_barrio], [calle], [numero], [piso], [departamento], [username], [password], [habilitado], [id_perfil], [fecha_alta], [Fecha_baja]) VALUES (1, N'admin', N'istrador', N'0356215453098', N'admin@gmail.com', 36, N'Leopoldo Lugones', N'159', 13, N'D', N'admin', N'admin', 1, 1, CAST(0x0000A7DA00000000 AS DateTime), NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [num_telefono], [email], [id_barrio], [calle], [numero], [piso], [departamento], [username], [password], [habilitado], [id_perfil], [fecha_alta], [Fecha_baja]) VALUES (2, N'Juan', N'Giacosa', N'0356215453098', N'juangiacosa@gmail.com', 5, N'Av leopoldo lugones', N'159', 13, N'D', N'Juan', N'pepe', 0, 2, CAST(0x0000A81200000000 AS DateTime), NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [num_telefono], [email], [id_barrio], [calle], [numero], [piso], [departamento], [username], [password], [habilitado], [id_perfil], [fecha_alta], [Fecha_baja]) VALUES (3, N'Lucas', N'Prosdoscimo', NULL, N'luquitas@gmail.com', 4, NULL, NULL, NULL, NULL, N'Luqui01', N'lucas', 0, 2, CAST(0x0000A7FE00000000 AS DateTime), NULL)
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Castrado1] FOREIGN KEY([cod_castrado])
REFERENCES [dbo].[Castracion] ([id_castrado])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Castrado1]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Color_1] FOREIGN KEY([color1])
REFERENCES [dbo].[Colores] ([id_color])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Color_1]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Color_2] FOREIGN KEY([color2])
REFERENCES [dbo].[Colores] ([id_color])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Color_2]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Edad_Animal] FOREIGN KEY([cod_edad])
REFERENCES [dbo].[Edad_Animal] ([codigo_edad])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Edad_Animal]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Pelo_Animal] FOREIGN KEY([cod_pelo])
REFERENCES [dbo].[Pelo_Animal] ([codigo_pelo])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Pelo_Animal]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Razas] FOREIGN KEY([cod_raza])
REFERENCES [dbo].[Razas] ([cod_raza])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Razas]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Sexo1] FOREIGN KEY([cod_sexo])
REFERENCES [dbo].[Sexo_Animal] ([codigo_sexo])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Sexo1]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Tamano_animal] FOREIGN KEY([cod_tamano])
REFERENCES [dbo].[Tamano_Animal] ([codigo_tamano])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Tamano_animal]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Tipo_Animal] FOREIGN KEY([cod_tipo_animal])
REFERENCES [dbo].[Tipo_Animal] ([codigo_animal])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Tipo_Animal]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Colores1] FOREIGN KEY([color1])
REFERENCES [dbo].[Colores] ([id_color])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Colores1]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Colores2] FOREIGN KEY([color2])
REFERENCES [dbo].[Colores] ([id_color])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Colores2]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Cond_Castrado] FOREIGN KEY([condicion_castrado])
REFERENCES [dbo].[Castracion] ([id_castrado])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Cond_Castrado]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Edad] FOREIGN KEY([edad_perro])
REFERENCES [dbo].[Edad_Animal] ([codigo_edad])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Edad]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Pelo] FOREIGN KEY([pelo_perro])
REFERENCES [dbo].[Pelo_Animal] ([codigo_pelo])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Pelo]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Razas] FOREIGN KEY([raza_perro])
REFERENCES [dbo].[Razas_Perros] ([id_raza])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Razas]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Sexos] FOREIGN KEY([sexo_perro])
REFERENCES [dbo].[Sexo_Animal] ([codigo_sexo])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Sexos]
GO
ALTER TABLE [dbo].[Perros]  WITH CHECK ADD  CONSTRAINT [FK_Perros_Tamano] FOREIGN KEY([tamano_perro])
REFERENCES [dbo].[Tamano_Animal] ([codigo_tamano])
GO
ALTER TABLE [dbo].[Perros] CHECK CONSTRAINT [FK_Perros_Tamano]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Animal] FOREIGN KEY([id_animal], [tipo_animal])
REFERENCES [dbo].[Animal] ([id_animal], [cod_tipo_animal])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Animal]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Barrios] FOREIGN KEY([barrio])
REFERENCES [dbo].[Barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Barrios]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Estado_Publicacion] FOREIGN KEY([estado_publicacion])
REFERENCES [dbo].[Estados_Publicacion] ([cod_estado])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Estado_Publicacion]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Tipo_Publicacion] FOREIGN KEY([tipo_publicacion])
REFERENCES [dbo].[Tipo_Publicacion] ([id_tipo_publicacion])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Tipo_Publicacion]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Usuario] FOREIGN KEY([usuario_responsable])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Usuario]
GO
ALTER TABLE [dbo].[Razas]  WITH CHECK ADD  CONSTRAINT [FK_Razas_Tipo_Animal] FOREIGN KEY([cod_tipo_animal])
REFERENCES [dbo].[Tipo_Animal] ([codigo_animal])
GO
ALTER TABLE [dbo].[Razas] CHECK CONSTRAINT [FK_Razas_Tipo_Animal]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Barrios1] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Barrios1]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[Perfiles_Usuarios] ([id_perfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
USE [master]
GO
